html {
    position: relative;
}

body>.container {
    padding: 10px 10px 0;
}

code {
    font-size: 80%;
}

#map {
    margin-top: 61px;
    height: auto;
}

#map .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: "white";
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 270px;
}

#map .info h4 {
    margin: 0 0 5px;
    color: #777;
}

#qOverlay {
    height: 100%;
}

.chart {
    margin: 30px 10px 30px 10px;
    height: 400px;
    width: 30%;
    display: inline-block;
}

#mapid {
    width: 65vmax;
    height: 40vmax;
    text-align: center;
    margin-left: 17.5%;
}

#buttons-div {
    margin: 70px 10px 0px 10px;
}

#title-list {
    width: 40%
}

#partners-list {
    width: 25%
}

#goal-id-list {
    width: 25%
}

#commitment-count {
    display: inline;
    float: right;
}

.qvt-chart-tooltip .value {
    margin-right: 10px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #3997d9;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    margin: 50px 0 0 0px;
}

.overlay-icon {
    width: 100%;
}

.close-icon {
    width: 20px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.delete-filter:hover {
    text-decoration: none;
}

.overlay-text {
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 25px;
}

.overlay-text h1 {
    font-weight: bold;
    font-size: 45px;
}

.overlay p {
    margin-bottom: 50px;
    line-height: 30px;
    margin-top: 25px;
}

.overlay-text {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.overlay-text .read-more {
    position: absolute;
    right: 5%;
    text-decoration: underline;
    color: white;
}

.overlay {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.kpiAlignment {
    position: relative;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.kpiElements {
    width: 10%;
    margin: 1% 5%;
    text-align: center;
    cursor: pointer;
}

#all_filters {
    display: none;
}

.filters {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d99f39;
    color: #f1f1f1;
    text-align: left;
    padding: 12px 15px;
    z-index: 999;
    display: inline;
    -webkit-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
}

.filter {
    margin-right: 15px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay-image {
    background: url("https://i.pinimg.com/originals/e0/42/b6/e042b6190844ee4a64466a58cca313f1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.capitalized {
    text-transform: uppercase;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.list-group {
    height: 207px;
    overflow-y: scroll;
    margin-top: 30px;
    border: solid 1px rgba(0, 0, 0, .12);
    border-radius: 5px;
}

.list-group .list-group-item:hover {
    text-decoration: none;
    background-color: #f1f1f1;
}

.list-group a {
    color: #3997d9;
}

.list-container h1 {
    color: #353535;
}

body {
    padding-bottom: 100px;
}

.inactive {
    opacity: 0.2;
}