html {
    position: relative;
}

body>.container {
    padding: 10px 10px 0;
}

code {
    font-size: 80%;
}

.header {
  background: url("/resources/images/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:30%;
}

.header-content {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.header-icon {
  width: 175px;
}

h1 {
  font-size: 55px;
  text-align: center;
  margin-bottom: 25px;
}

.center {
  text-align: center;
}

#map {
    height: auto;
}

#map .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: "white";
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 270px;
}

#map .info h4 {
    margin: 0 0 5px;
    color: #777;
}

#qOverlay {
    height: 100%;
}

.arrow {
  font-size:30px;
  cursor:pointer;
  position:absolute;
  top: 0;
  right:0;
  padding:16px 45px 0 0;
}

.chart {
    margin: 30px 10px 30px 10px;
    height: 400px;
    width: 30%;
    display: inline-block;
}

#mapid {
    width: 850px;
    height: 480px;
    text-align: center;
    margin: auto auto;
}

#buttons-div {
    margin: 70px 10px 0px 10px;
}

#title-list {
    width: 40%
}

#partners-list {
    width: 25%
}

#goal-id-list {
    width: 25%
}

#commitment-count {
  display: inline;
  float: right;
  border-left: thin double #f0c477;
  margin-left: 10px;
  padding-left: 10px;
}

.qvt-chart-tooltip .value {
    margin-right: 10px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3001;
    background-color: #3997d9;
    overflow: hidden;
    transition: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.overlay-content {
    margin: 50px 0 0 0px;
}

.overlay-icon {
    width: 100%;
}

.close-icon {
    width: 20px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.delete-filter:hover {
    text-decoration: none;
}

.overlay-text {
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 25px;
}

.overlay-text h1 {
    font-weight: bold;
    font-size: 45px;
}

.overlay p {
    margin-bottom: 50px;
    line-height: 30px;
    margin-top: 25px;
}

.overlay-text {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.overlay-text a {
    text-decoration: underline;
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.question-mark {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.question-mark-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 50px;
  z-index: 3001;
  background-color: #3997d9;
}

.kpiAlignment {
  position: relative;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  cursor: pointer;
}

.kpiElements {
  width: 15%;
  margin: 3% 5%;
  text-align:center;
  cursor: pointer;
}

#all_filters {
    display: none;
}

.filters {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d08a11;
    color: #f1f1f1;
    text-align: left;
    padding: 12px 15px;
    z-index: 2000;
    display: inline;
    -webkit-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.25);
}

.filters button {
  float: right;
}

#filters-bar {
  display: inline;
}

.filter {
    margin-right: 15px;
}

.filters-title {
  font-size: 20px;
}

#filters-bar-style {
  border-right: thin double #f0c477;
  margin-right: 10px;
}

#filters-bar-style-left {
  border-left: thin double #f0c477;
  margin-left: 10px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay-image {
    background: url("./resources/images/overlay-image.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.capitalized {
    text-transform: uppercase;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.list-group {
    height: 207px;
    overflow-y: scroll;
    margin-top: 30px;
    border: solid 1px rgba(0, 0, 0, .12);
    border-radius: 5px;
}

.list-group .list-group-item:hover {
    text-decoration: none;
    background-color: #f1f1f1;
}

.list-group a {
    color: #3997d9;
}

.list-container h1 {
    color: #353535;
}

body {
    padding-bottom: 100px;
}

@keyframes close-overlay {
  from {
    height:100%;
    right: 0;
  }
  to {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
  }
}

@keyframes open-overlay {
  from {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
  }
  to {
    height:100%;
    width: 100%;
    right: 0;
  }
}
.inactive {
    opacity: 0.2;
}
